align-items()
  -webkit-align-items: arguments
  align-items: arguments

display_flex()
  display: -webkit-flex !important;
  display: flex !important;

flex()
  -webkit-flex: arguments
  flex: arguments

.sd-simpleprimitivepanel
  width: 235px !important;
  padding: 0 !important;

  .primitive-panel-wrapper
    padding: 5px 8px 8px 8px;
    overflow: auto;
    line-height: 1.5;
    > .hbox
      align-items(center);
      margin: 8px 0;
      > *
        flex(1);

  .hbox.label
    .sd-checkbox
      margin-right: 5px;
    .sd-textinput
      flex(1);
      display_flex();
      input
        flex(1);

  .propanel-accordion
    min-height: 29px;
    overflow: hidden;

    &.hidden
      display: none;

    &.open .propanel-accordion-content
      margin-top: 0 !important;

    h4
      background: #76809a;
      position: relative;
      color: white;
      text-transform: uppercase;
      height: 29px;
      padding: 5px 10px 5px 30px;
      margin: 0;
      border-top: 1px solid $panel-bg;
      cursor: pointer;
      transition: all .4s;
      z-index: 2;

      &:hover
        background: #484f63;

      &:before
        content: '';
        position: absolute;
        top: 12px;
        left: 10px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid white;
        transition: all .4s;
        transform: rotate(-90deg);

    .propanel-accordion-content
      padding: 3px 8px 6px;
      transition: all .4s;
      z-index: 1;
      margin-top: -99999px;
      > .previewWrapper
        cursor: pointer;
      > .hbox
        align-items(center);
        margin: 8px 0;
        > *
          flex(1);
      .sd-material-renderer
        cursor: pointer;
        width: 84px;
        height: 84px;
        flex: 0 0 auto !important;
