.sd-simplenote-panel
  width: 280px !important;
  min-height: 200px !important;

  .sd-label
    max-width: 90px;
    min-width: 20px;

  .sd-text-area-input textarea, .sd-textinput
      width: 260px;
      max-width: 260px;
